.headerWrapper {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  height: var(--spacing-16);
}

.header {
  display: flex;
  align-items: center;
  max-width: 90vw;
  width: var(--maxWidth-2xl);
}

.title {
  margin: 0;
  font-size: var(--fontSize-3);
  color: var(--color-thead);
}
