.rankingCardWrapper {
  max-width: 700px;
  width: 80vw;
  margin: var(--spacing-5);
  padding: var(--spacing-6) var(--spacing-10);
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-8);
}

.rankingPrimary,
.rankingSecondary {
  display: block;
  font-weight: var(--fontWeight-bold);
  margin: 15px;
  margin-left: 20px;
}

.rankingPrimary {
  font-size: var(--fontSize-2);
  color: var(--color-dark);
}

.rankingSecondary {
  font-size: var(--fontSize-1);
  color: var(--color-text-light);
}
